.left-menu {
	background-color: $color-nightblue-light;
	color: $color-lightgray;
	.item {
		background-color: inherit;
		color: inherit;
	}
	.menu-header {
		background-color: $color-nightblue;
		height: 45px;
		font-weight: bold;
		text-align: center;
		padding-top: 10px;
		font-size: 20px;
	}
}

.notifications-list-page {

	background: $color-bluegrey;

	.new-notification {
		position: absolute;
		width: 200px;
		left: calc(100% - 225px);
		top: 10%;
		background-color: $color-neworange;
		opacity: .8;
		text-align: center;
		color: black;
		padding: 15px;
		border-radius: 15px;
	}

	.header-bar {
		background-color: $color-nightblue;
		> span {
			margin: auto;
			color: $color-lightgray;;
		}
	}

	.notification-card {
		.card-header {
			background-color: $color-nightblue-light;
			.header-text {
				vertical-align: middle;
				color: $color-lightgray;;
				display: inline-block;
				margin-top : auto;
				margin-bottom: auto;
				.company-name {
					font-weight: bold;
				}
			}
			.header-source-image {
				width: 32px;
				height: 32px;
				float: right;
				vertical-align: middle;
			}
		}
		.card-content-image {
			display: inline-block;
			width: 25%;
			vertical-align: middle;
			img {
				width: 90%;
				height: auto;
			}
		}
		.card-content-text {
			display: inline-block;
			width: 70%;
			vertical-align: middle;
		}
	}
}
