.notifications-list-page {
	.notification-card {
		.card-header {
			.header-text {
				vertical-align: middle;
			}
			.header-source-image {
				width: 32px;
				height: 32px;
				float: right;
				vertical-align: middle;
			}
		}
		.card-content-image {
			display: inline-block;
			width: 25%;
			vertical-align: middle;
			img {
				width: 100px;
				height: 100px;
			}
		}
		.card-content-text {
			display: inline-block;
			width: 70%;
			vertical-align: middle;
		}
	}
}
