.login-page {

	min-height: 100%;
	background: $color-bluegrey;

	.header-bar {
		background-color: $color-nightblue;
		> span {
			margin: auto;
			color: whitesmoke;
		}
	}

	.login-form {
		margin: 75px auto auto auto;
		max-width: 215px;
		.btn-login {
			color: $color-lightgray;
			background-color: #FF851B;
			padding: 6px 12px;
			line-height: 1.42857143;
			width: 100%;
			border: none;
			border-radius: 5px;
			&:hover {
				background-color: #FF750B;
			}
		}
		.input-left-inner-addon {
			margin-bottom: 10px;
			input {
				padding-left: 45px;
				border-radius: 5px;
			}
			i {
				color: #555;
				position: absolute;
				padding: 9px 14px;
				pointer-events: none;
			}
		}
	}

}
