.login-page {

	min-height: 100%;
	background: $color-bluegrey;

	.login-form {
		margin: auto;
		width: 200px;
		.btn-login {
			color: $color-grey1;
			background-color: #FF851B;
			&:hover {
				background-color: #FF750B;
			}
		}
		.input-left-inner-addon {
			margin-bottom: 10px;
			input {
				padding-left: 45px;
				border-radius: 5px;
			}
			i {
				color: #555;
				position: absolute;
				padding: 9px 14px;
				pointer-events: none;
			}
		}
	}

}
