<ion-view>

	<div class="login-page">

		<div class="login-form">

			<div class="input-left-inner-addon">
				<i class="icon ion-email"></i>
				<input type="email" class="form-control input" ng-model='username' placeholder="Email" ng-focus="resetError()"/>
			</div>

			<div class="input-left-inner-addon">
				<i class="icon ion-key"></i>
				<input class="form-control" ng-model='password' type="password" ng-focus="resetError()" placeholder="Mot de passe"/>
			</div>
			<p ng-class="{error:error}" ng-if="error">Identifiant ou mot de passe incorrect</p>

			<button ng-click="submit()" class="btn btn-block btn-login" >Connexion</button>

		</div>

	</div>

</ion-view>
