<ion-view class="login-page">

	<ion-header-bar class="header-bar">
		<span>C'est qui?</span>
	</ion-header-bar>

	<ion-content>

		<div class="login-form">

			<div class="input-left-inner-addon">
				<i class="icon ion-email"></i>
				<input type="email" class="form-control input" ng-model="u.username" placeholder="Email" ng-focus="resetError()"/>
			</div>

			<div class="input-left-inner-addon">
				<i class="icon ion-key"></i>
				<input class="form-control" ng-model='u.password' type="password" ng-focus="resetError()" placeholder="Mot de passe"/>
			</div>

			<p ng-class="{error:error}" ng-if="authError">Identifiant ou mot de passe incorrect</p>
			<p ng-class="{error:error}" ng-if="otherError">{{error.statusText}}</p>

			<button ng-click="submit()" class="btn btn-block btn-login" >Connexion</button>

		</div>

	</ion-content>

</ion-view>
